*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    border: 15px solid gold;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 15rem;
    cursor: pointer;
}

button{
    width: 12rem;
    height: 3rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    background: yellow;
    border-radius: 10px;
    border: none;
}